{% extends "app_base.html" %}


{% block app_body %}

    <div class="container mt-3">
        <h5 class="my-3">Add new Facebook integration</h5>

        <div class="card">
            <div class="card-body">
                <a href="">
                    <button class="btn" style="background-color: #55acee; color: white">
                        <i data-feather="facebook"></i>
                        Login with Facebook
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
