{% extends "base.html" %}
{% load bootstrap4 %}
{% block body %}

<div class="row mx-0 mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Login</h5>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-primary" type="submit">
                       Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}